h1 {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}
/*HEADER*/

.header {
  font-family: "Montserrat", sans-serif;
  display: flex; /* Make the header a flex container */
  justify-content: space-between; /* Optional: Space out the logo and nav */
  align-items: center; /* Vertically align the logo and nav */
  padding: 1rem 1rem;
}

#logo {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-right: auto; /* Ensures the logo is flushed to the left */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin-right: 0;
}

li {
  margin-left: 2rem;
}

/* Centered navigation links */
nav {
  display: flex;
  justify-content: center; /* Center the main navigation links */
  flex: 1; /* Nav takes the remaining space */
}

.navLinks {
  display: flex;
  justify-content: center; /* Ensure the links stay centered */
  flex: 1;
}

.navLinks ul {
  list-style: none;
  display: inline-flex; /* Horizontally align the nav links */
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-left: 2rem; /* Adds spacing between nav items */
}

/* Contact link flushed right */
.navContact {
  margin-left: auto; /* Pushes the contact link to the far right */
  list-style: none;
}

/*MAIN*/
/* Main content split in 2 halves */
.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 3rem;
}

/* Left side with image */
.left {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the image horizontally within the left side */
}

.tasaImg {
  height: 35rem;
  width: 35rem;
  border-radius: 50%; /* This makes the image round */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}

/* Right side with text and buttons */
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center the content */
  text-align: left; /* Align the text to the left */
}

.right h1,
.right p,
.right a {
  margin-bottom: 1rem; /* Adds space between each element */
}

.edButton,
.portButton,
.skillButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem;
  border-radius: 12px;
}
